<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunj Pathak</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>
<body>
    <div class="stars" style="display: none;"></div>
    <button class="mode-toggle"></button>

    <h1>Kunj Pathak</h1>

    <!-- Navigation Buttons -->
    <div class="navigation">
        <a href="/projects">Projects</a>
        <a href="/contacts">Contacts</a>
        <a href="/about">About Me</a>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>



<!-- <!DOCTYPE html> -->
<!-- <html lang="en"> -->
<!-- <head> -->
<!--     <meta charset="UTF-8"> -->
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
<!--     <title>Kunj Pathak</title> -->
<!--     <link rel="stylesheet" href="/static/style.css"> -->
<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> -->
<!--      -->
<!-- </head> -->
<!-- <body> -->
<!--     <div class="stars" style="display: none;"></div> -->
<!--     <button class="mode-toggle"></button> -->
<!--     <h1>Kunj Pathak</h1> -->
<!--  -->
<!-- 	<div class="navigation"> -->
<!-- 	    <a href="javascript:void(0);" id="projects-btn">Projects</a> -->
<!-- 	    <a href="javascript:void(0);" id="contacts-btn">Contacts</a> -->
<!-- 	    <a href="javascript:void(0);" id="about-btn">About Me</a> -->
<!-- 	</div> -->
<!--  -->
<!-- 	 -->
<!--     <!-- Dynamic Content Area --> -->
<!--     <div id="content-area"> -->
<!--         <p>Welcome to my portfolio! Click on any button above to navigate.</p> -->
<!--     </div> -->
<!--  -->
<!-- 	 -->
<!-- 	<div class="contact-info"> -->
<!-- 	    <a href="mailto:kunjpathak74@gmail.com" class="icon-link"> -->
<!-- 	        <i class="fa fa-envelope" aria-hidden="true"></i> -->
<!-- 	    </a> -->
<!-- 	<a href="https://www.linkedin.com/in/kunjpathak/" target="_blank" class="icon-link"> -->
<!-- 	    <i class="fab fa-linkedin"></i> -->
<!-- 	</a> -->
<!-- 	<a href="tel:+14088632623" class="icon-link"> -->
<!--     <i class="fas fa-phone"></i> -->
<!--     </a> -->
<!-- 	</div> -->
<!--  -->
<!--     <script src="/static/script.js"></script> -->
<!-- </body> -->
<!-- </html> -->
